@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat+Alternates&family=Poppins&display=swap');

// font-family: 'Cormorant Garamond', serif;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Poppins', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$brown-dark:#523c28;
$brown-light:#f9f3ee;
$tab: 1040px;
$mobile: 800px;

button {
    border: none;
    outline: none;

    text-transform: capitalize;
    letter-spacing: 1px;

    &:hover {
        transform: scale(.95);
    }

    &:active {
        transform: scale(.9);
    }
}

.loader-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Cormorant Garamond', serif;
    color: $brown-dark;
    font-size: x-large;

    .loader {
        position: absolute;
        background: #efefef;
        padding: 14px 32px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        overflow: hidden;
        //  height: 450px;//  width: 350px;
    }

    .mov {
        position: relative;
        background: #efefef;
        padding: 16px 36px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            width: 400px;
            height: 400px;
            background-image: conic-gradient(transparent, transparent, transparent, $brown-dark);
            animation: rotate 2.5s linear infinite;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#return-to-game {
    display: none;
}