@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat+Alternates&family=Poppins&display=swap');

// font-family: 'Cormorant Garamond', serif;
// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Poppins', sans-serif;


$brown-dark:#523c28;
$brown-light:#f9f3ee;
$tab: 1040px;
$mobile: 800px;