@import "./fonts", "./game-nav";

body {
    background-color: #fff;
}

.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wrapper {
    width: 88%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    // background: #000;
}

.game-header {
    font-size: xx-large;
    padding: 10px;
    color: $brown-dark;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 40px;
}

p {
    width: 94%;
    text-align: justify;
}

.pop-page {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    align-items: center;
    overflow-y: scroll;
    z-index: 100;

    // blow lin only on while under developement
    display: none;

    .game-header {
        margin-top: 40px;
        width: 100%;
        margin-bottom: 30px;
    }

    .nav-container {
        position: sticky;
        top: 0;
        width: 100%;
        background: #fff;
    }

    button {
        color: #fff;
        background: transparent;
        border-radius: 6px;
        padding: 12px 20px;
        font-size: large;
        cursor: pointer;

        background: $brown-dark;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 40px 0;

        @media screen and (max-width: $mobile) {
            font-size: medium;
            padding: 12px;
        }
    }
}