@import "./game";

.pop-page {
    // below line only on while under development
    // display: none;
}

.text-bg {
    line-height: 30px;
    background: #ddd;
}

.red {
    background: tomato;
}

.gold {
    background: gold;
}

.silver {
    background: silver;
}

#game-screen {
    width: 100%;
    height: auto;
    min-height: 90vh;
    top: 10px;
    background: #efefef;
    border-radius: 6px;
    // margin-bottom: 100px;

}

.sticky-btn {
    padding: 0;
    margin: 0;
    position: sticky;
    top: 90vh;
}

$mineral-size: 80px;

.mineral {
    position: absolute;
    // position: relative;
    width: $mineral-size;
    height: $mineral-size;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #262626;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 300ms;
    margin-left: 0;
    margin-top: 0;
    user-select: none;

    // &:hover {
    //     transform: scale(.95);
    // }

    // &:active {
    //     transform: scale(0);
    // }
}

.dim-mineral {
    animation: dim 110ms linear;
}

@keyframes dim {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}