@import "./game";

.pop-page {
    // below line only on while under development
    // display: none;
}

p {
    margin-top: 20px;
    font-size: large;
}

#question {
    margin: 50px 0 30px 0;
    font-size: large;
}

#ans1 {
    margin-bottom: 50px;
    background: lightgreen;
}

#ans2 {
    margin-bottom: 50px;
    background: #dd7973;
}