@import "./game";

.pop-page {
    // below line only on while under development
    // display: none;
}

iframe {
    width: 100%;
    min-height: 90vh;
    outline: none;
    border: none;
}

ol {
    width: 90%;
    text-align: left;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: large;

    li {
        margin-bottom: 6px;
    }
}