/* fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/


@import "./navbar", "./search", "./table", "./game-nav";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mobile : 770px;

@mixin mobile {
    @media (max-width : #{$mobile}) {
        @content;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #efefef;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

nav {
    background: #fff;

    a {
        text-transform: none;
        text-decoration: none;
        color: $brown-dark;
    }

    button {
        border: none;
        outline: none;

        &:hover {
            border-bottom: 2px solid $brown-dark;
        }

        &:active {
            transform: scale(.95);
        }
    }
}