/*    fonts used :
    
font-family: "Poppins", sans-serif;
font-family: "Nova Script", cursive;
font-family: "Slabo 27px", serif;    

*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#canvas {
  background-color: #000;
  position: fixed;
}

#score {
  position: fixed;
  color: coral;
  z-index: 3;
  font-size: 20px;
  left: 1vw;
  margin-top: 1vw;
  padding: 6px;
  background-color: gray;
  text-transform: uppercase;
  font-family: monospace;
}


header,
#end {
  height: 45px;
  width: 100%;
  border-bottom: 2px solid #efefef;
  margin-bottom: 10px;
  text-align: center;
  color: coral;
  font-family: "Nova Script", cursive;
}

i {
  margin-left: 10px;
  color: white;
}

section {
  position: relative;
  height: calc(100% - 90px);
  width: 100%;
  overflow-y: scroll;
}

p {
  width: 100%;
  padding: 4px 4px 4px 15px;
}

section>span {
  color: coral;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Slabo 27px", serif;
}

#end {
  border: none;
}


#icon {
  position: fixed;
  font-size: 14px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid coral;
  color: coral;
  z-index: 3;
  right: 1vw;
  top: 1vw;
  font-weight: bolder;
}